:global(.editor-styles-wrapper) {
  .map {
    height: 400px;
  }

  .map img {
    max-width: unset;
  }

  .map :global(.mapycz-card-header) {
    margin: 0 0 10px 0;
  }

  .map :global(.mapycz-card-body) {
    font-size: 1rem;
  }

  .map :global(.mapycz-card-footer) {
    margin: 10px 0 0 0;
    font-size: 0.75rem;
    font-style: italic;
  }

  .description {
    background: white;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
    margin: 10px 0 10px 0;
    font-weight: normal;
  }
}
